<div (click)="inputFile.click()" [formGroup]="parentFormGroup" class="my-4 mdc-text-field file-selector-container d-flex align-items-center justify-content-center">
    <input [formControlName]="fileFormControlName" [multiple]="multiple" (change)="onFileSelected($event)" class="d-none" #inputFile type="file">
    <button mat-mini-fab color="primary"><mat-icon>photo_library</mat-icon></button>
    <span *ngIf="fichiers.length == 0">Selectionnez un fichier</span>

    <div class="d-flex" *ngIf="fichiers.length == 1">
        <div>{{fichiers[0].nomFichier}} ( {{fichiers[0].tailleFichier | fileSize:2 }} )</div>
        <div><i>Date modification : {{fichiers[0].dateFichier | date:'dd/MM/yyyy hh:mm:ss'}}</i></div>
    </div>

    <div *ngIf="fichiers.length > 1">
        {{fichiers.length}} fichiers selectionnés ( {{fichiers | totalFileSize | fileSize:2}} )
    </div>
</div>

<mat-error *ngIf="parentFormGroup.get('image').hasError('extensionInvalide')">Les fichiers "{{parentFormGroup.get('image').errors.extensionInvalide.extension}}" ne sont pas valides</mat-error>