.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-mdc-raised-button>.mat-icon {
    margin: 0;
    // border-radius: 50%;
}