<h1>Contact</h1>

<form class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Objet</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Objet</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Décrivez votre problème..."></textarea>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Envoyer formulaire</button>
</form>